
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

@import url("fonts.css"); 

@import url("reset.css"); 

.page {
	font-family:"Open Sans", sans-serif;
	font-weight: 400;
	color: #2b2929;;
}
.krovato, .living-room,.text-room,.room-sub-title {
	font-family: "Proxima Nova Rg", sans-serif;
}

.title {
	font-family:"Madimi One", sans-serif;
	text-align: center;
	font-size: 45px;
	font-weight: 700;
	font-style: oblique;
	color: rgba(153, 24, 43, 0.8);
	text-shadow: #FC0 1px 0 10px;
	text-transform: capitalize;
}
.header {
	text-align: center;
	font-weight: 600;
	color: blue;
}
.img {
	text-align: center;
}
.text {
	color:hotpink;
	text-align: right;
	letter-spacing: 4px;
}
.span {
	color: blueviolet;
	text-transform: uppercase;
	font-weight: 600;
	word-spacing: 3px;
	text-shadow: #FC0 2px -3px 8px;
}
.text-2 {
	color: goldenrod;
	text-decoration: line-through;
	text-decoration-color: black;
	font-family: fantasy;
}
.text-3 {
	color: rgb(119, 156, 156);
	font-family: cursive;
	text-decoration:overline;
	line-height: 25px;
	letter-spacing: 5px;

}
.text-4 {
	color: brown;
	font-size: 25px;
	font-weight: 500;
	text-transform: lowercase;
	text-decoration: underline;
	text-decoration-style: double;
}
.text-5 {
	color: rgb(74, 201, 218);
	font-size: 33px;
	font-style: oblique;
	word-spacing: 8px;
	text-decoration: underline;
}
.text-6 {
	color: rgb(32, 22, 222);
	font-weight: 700;
	text-align: center;
	text-decoration: line-through;
	text-decoration-color:red;
	text-transform: uppercase;
	white-space: pre-line;
	text-decoration-style: dashed;
}
.title-krovato,.living-room {
	text-align: center;
	font-weight: 600;
	font-size: 40px;
}
.text-gba {
	color: rgba(0, 0, 0, 0.5);
}
.img-room {
	text-align: center;
}
.room-sub-title {
	font-size: 20px;
}





