@import url("reset.css");

.link {
	color: red;
}
.text-header {
	color: yellowgreen;
}
.title-header {
	color: burlywood;
}
.image {
text-align: center;
}
.span {
	color: blue;
}
.text-main {
	color: chartreuse;
}
.list-title {
	color: cyan;
}
.list {
	color: coral;
}
.list-item {
	color: darkkhaki;
}
.title-main {
	color: crimson;
}
.page ~ p {
	color: darkgoldenrod;
}
.footer {
	color: darkslategrey;
}