

@import url("fonts.css"); 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url("reset.css"); 

.header{
	font-family: "Proxima Nova",sans-serif;
	font-size: 40px;
	text-align: center;
	font-weight: 700;
	line-height: 50px;
	margin-bottom: 40px;
}
.progect {
	font-family: "Quicksand", sans-serif;
	color: rgb(43, 41, 41);
	font-size: 16px;
	line-height: 1.875; /* 30/16 */
	font-weight: 400;
	margin: 0 auto;
	max-width: 1070px;
	width: 100%;
	
}

.page-living-room {
	margin-bottom: 60px;
}

.title-living-room {
	font-weight: 600;
	margin-bottom: 40px;
	line-height: 1.2; /* 48/40 */
}
.living-room  {
	font-size: 40px;
	margin-bottom: 40px;
}
.img-room {
	border-radius: 8px;
	margin-bottom: 40px;
}
.text-room {
	margin-bottom: 40px;
}
.text-room-2 {
	margin-bottom: 40px;
} 
.room-sub-title {
	
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 40px;
	line-height:1.40; /* 28/20 */
}
.text-room p{
	margin-bottom:20px;
}
.living-room-item {
	background: url(../img/Vector.png)0 0/ auto auto no-repeat;
	padding-left: 47px;
	margin-bottom: 20px;
}
.living-room-item {
	margin-bottom: 26px;
}

.footer {
	font-family: Roboto,sans-serif;
	font-size: 75px;
	display: inline-block;
	font-weight: 500;
	text-transform: capitalize;
	color: aqua;
	background-color: black;
	border-radius: 8px;
	padding: 10px;
	margin: 0 40%;
}





