

@import url("fonts.css"); 

@import url("reset.css"); 

.page {
	font-family: "Proxima Nova", sans-serif;
	color: rgb(43, 41, 41);
	font-size: 16px;
	
}
.header{
	font-family:"Proxima Nova";
	font-size: 40px;
	margin-top: 40px;
	text-align: center;
	font-weight: 700;
}
.living-room  {
	font-family:"Proxima Nova";
	font-size: 40px;
	margin-top: 40px;
	margin-left: 225px;
	max-width: 1070px;
	font-weight: 700;
}
.img-room {
	
	margin-top: 40px;
}
.text-room {
	margin-left: 225px;
	max-width: 1070px;
	margin-top: 40px;
	margin-left: 225px;
	line-height: 30px;
}
.room-sub-title {
	font-family:"Proxima Nova";
	max-width: 1070px;
	margin-left: 225px;
	font-size: 20px;
	margin-left: 225px;
	margin-top: 40px;
	font-weight: 700;
}
.text-room p{
	padding-bottom:20px;
}








